*, *::after, *::before {
    box-sizing: border-box;
    background-color: black;

}

body {
    margin: 0;
    overflow: hidden;
}

.main-div {
    position: relative;
    /* z-index: 10; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aquamarine;
}

.coin-image {
    background-color: white;
}

.coinside {
    background-color: aliceblue;
    color: blue;
}

.game-controls {
    /* position: absolute; */
    margin-top: 40%;
    margin-left: 40%;
    background: none;
    color: violet;
}

#action-button {
    color: aliceblue;
    background-color: blue;
}

.walletDiv {
    margin-top: 0;
    margin-left: 85%;
    position: absolute;
    /* z-index: 10; */
}

.wallet {
    position: absolute;
    z-index: 10;
    color: white;
    background-image: none;
    background-color: rgb(224, 69, 2);
    border-radius: 0.5rem;
    height: 2rem;
    width: 7rem;
    cursor: pointer;
}